<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Historiales Clínicos de Pacientes 2025</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        form {
            max-width: 600px;
            margin: auto;
        }
        div {
            margin-bottom: 15px;
        }
        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }
        input, button {
            width: 100%;
            padding: 8px;
            font-size: 16px;
        }
        button {
            cursor: pointer;
        }
    </style>

    <script>
        function guardarFormulario(event) {
            event.preventDefault();
            window.location.href = '/registroExitoso'; //
        }
    </script>
</head>
<body>
<h1>Historiales Clínicos de Pacientes 2025</h1>
<form th:object="${paciente}" method="post"  onsubmit="guardarFormulario(event)">
    <fieldset>
        <legend>Datos Personales</legend>
        <div>
            <label for="cedula">Cédula de Identidad:</label>
            <input type="text" id="cedula" th:field="*{cedulaIdentidad}" required />
            <span th:if="${#fields.hasErrors('cedulaIdentidad')}" th:errors="*{cedulaIdentidad}">
                Cédula de Identidad Incorrecta
            </span>
        </div>
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" th:field="*{name}" required />
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Nombre Incorrecto</span>
        </div>
        <div>
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" th:field="*{lastName}" required />
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Apellido Incorrecto</span>
        </div>

        <div>
            <label>Número de Seguro Social:</label>
            <input type="number" th:field="*{ssn}" />
            <span th:if="${#fields.hasErrors('ssn')}" th:errors="*{ssn}">Número de Seguro Social Incorrecto</span>
        </div>
        <div>
            <label>Fecha de Nacimiento:</label>
            <input type="date" th:field="*{birthDate}" />
            <span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">Fecha Incorrecta</span>
        </div>
        <div>
            <label>Edad:</label>
            <input type="number" th:field="*{age}" />
            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Edad Incorrecta</span>
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required />
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Incorrecto</span>
        </div>

        <div>
            <label>Teléfono:</label>
            <input type="number" th:field="*{phone}" />
            <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Teléfono Incorrecto</span>
        </div>

        <div>
            <label>Dirección:</label>
            <input type="text" th:field="*{address}" />
            <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Dirección Incorrecta</span>
        </div>
        <div>
            <label>Ciudad:</label>
            <input type="text" th:field="*{city}" />
            <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Ciudad Incorrecta</span>
        </div>

        <div>
            <label>País:</label>
            <input type="text" th:field="*{country}" />
            <span th:if="${#fields.hasErrors('country')}" th:errors="*{country}">País Incorrecto</span>
        </div>
    </fieldset>

    <fieldset>
        <legend>Datos Médicos</legend>
        <div>
            <label for="altura">Altura (cm):</label>
            <input type="number" id="altura" th:field="*{height}" min="50" max="250" required />
            <span th:if="${#fields.hasErrors('height')}" th:errors="*{height}">Altura Incorrecta</span>
        </div>
        <div>
            <label for="peso">Peso (kg):</label>
            <input type="number" id="peso" th:field="*{weight}" min="1" max="300" required />
            <span th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}">Peso Incorrecto</span>
        </div>
        <div>
            <label for="tipoSangre">Tipo de Sangre:</label>
            <input type="text" id="tipoSangre" th:field="*{bloodType}" required />
            <span th:if="${#fields.hasErrors('bloodType')}" th:errors="*{bloodType}">Tipo de Sangre Incorrecto</span>
        </div>
        <div>
            <label>Género:</label>
            <input type="radio" id="masculino" value="masculino" th:field="*{gender}">
            <label for="masculino">Masculino</label>
            <input type="radio" id="femenino" value="femenino" th:field="*{gender}">
            <label for="femenino">Femenino</label>
            <span th:if="${#fields.hasErrors('gender')}" th:text="${#fields.errors('gender')}">Género Incorrecto</span>
        </div>
    </fieldset>

    <div>
        <button type="submit">Guardar</button>
        <button type="reset">Cancelar</button>
    </div>
</form>
</body>
</html>