<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script>
        function navigateToHistorialClinico() {
            window.location.href = 'historialClinico';
        }
        function salir() {
            alert('Gracias por usar nuestro sistema. ¡Hasta luego!');
        }
    </script>
</head>
<body>
<div>
    <h2>Bienvenido a nuestro sistema clínico</h2>
    <form>
        <h3>Gestionador de formularios clínicos</h3>
        <br>
        <button type="button" onclick="navigateToHistorialClinico()">Ingresar</button>
        <br>
        <button type="button" onclick="salir()">Salir</button>
        <br>
    </form>
</div>
</body>
</html>
